$color-coffee: #2E1F27;
$border-radius: 0.5em;

$movie-view-img-width: 200px;
$movie-view-img-height: 300px;

$mobile-large-max-width: 960px;
$mobile-medium-max-width: 768px;
$mobile-small-max-width: 576px;

$padding-mini: 5px;
$padding-small: 10px;
$padding-medium: 20px;